@media only screen and (max-width: 770px){
    .header_right{
        display: none;
       
    }
    .developer{
        margin-left: 15%;
    }
}
@media only screen and (max-width: 550px){
   
    .header_left{
        width: 100%;
    }
    .developer{
        margin-left: 5%;
    }
}